body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card {
  max-width: 13rem;
  margin: 1em;
}

.card:hover{
  max-height: 18rem;
}

.card:hover:hover #hiddenText{
  display: block;
}

h1, h2{
  text-align: left;
}

#addBtnDiv{
  text-align: left;
}

#hiddenText{
  display: none;
}
