@model List<FieldAgent.DTOs.TopAgentListItem>
@{
    ViewBag.Title = "Top Agents List";
}
<h1>Top Agents List</h1>
<div class="row">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>DOB</th>
                <th>Number of Completed Missions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var agent in Model)
            {
                <tr>
                    <td>@agent.NameLastFirst.Replace(",",", ")</td>
                    <td>
                        @agent.DateOfBirth.ToShortDateString()
                    </td>
                    <td>@agent.CompletedMissionCount</td>
                </tr>
            }
        </tbody>
    </table>
</div>